@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500&display=swap");

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dda975c8;
  text-transform: capitalize;
  font-family: "Spline Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eadfce;
  border: 5px inset rgba(118, 117, 101, 0.34);
  border-radius: 40px 0px 40px 0px;
  -webkit-box-shadow: -5px 3px 8px 9px rgba(78, 69, 53, 0.2);
  box-shadow: -5px 3px 8px 9px rgba(78, 69, 53, 0.2);
}

form {
  width: 400px;
  height: fit-content;
}

fieldset {
  margin: 10px 0;
  border: none;
}

input {
  background-color: transparent;
  border: none;
  margin-left: 15px;
  width: 50px;
  border-bottom: rgba(118, 117, 101, 0.34) 1px solid;
}

input:focus {
  outline: none;
}

button {
  border-radius: 5px;
  width: 6em;
  height: 2em;
  border: none;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

button:active {
  border: none;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

button:hover {
  background-color: rgb(244, 201, 188);
  color: rgb(0, 0, 0);
}

.selectList {
  margin-left: 15px;
  border-radius: 5px;
  width: 75px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: rgba(118, 117, 101, 0.34) 1px solid;
}

span {
  margin-left: 15px;
  color: red;
}
